# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.env
.venv/
venv/
env/
*.env
*.env.*

# Packaging / build
build/
dist/
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt

# Testing
.coverage
htmlcov/
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# IDE / OS
.vscode/
.idea/
.DS_Store

# Streamlit
.streamlit/secrets.toml
